#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config ARDUSIMPLE_GPOLL
	bool "GPS message poll application"
	default n
	---help---
		Poll GPS messages using named FIFO.

if ARDUSIMPLE_GPOLL

config ARDUSIMPLE_GPOLL_FIFO
	string "FIFO name"
	default "/var/gps0"

config ARDUSIMPLE_GPOLL_PROGNAME
	string "Program name"
	default "as_gpoll"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config ARDUSIMPLE_GPOLL_PRIORITY
	int "Task priority"
	default 100

config ARDUSIMPLE_GPOLL_STACKSIZE
	int "Stack size"
	default DEFAULT_TASK_STACKSIZE

endif
