#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_GPS
	tristate "GPS example"
	default n
  depends on !SENSORS_UBLOX_GPS
	select GPSUTILS_MINMEA_LIB
	---help---
		Enable the gps test example

if EXAMPLES_GPS

config EXAMPLES_GPS_PROGNAME
	string "Program name"
	default "gps"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config EXAMPLES_GPS_PRIORITY
	int "GPS task priority"
	default 100

config EXAMPLES_GPS_STACKSIZE
	int "GPS stack size"
	default DEFAULT_TASK_STACKSIZE

config EXAMPLES_GPS_DEVPATH
	string "GPS device path"
	default "/dev/ttyS5"
	---help---
		The device path to the GPS device

config EXAMPLES_GPS_BAUDRATE
	int "GPS port Baudrate"
	default 38400
	---help---
		Choose GPS serial port baudrate.

config EXAMPLES_GPS_SERVER_IPADDR
	hex "Server IP address"
	default 0x0a000014
	---help---
		This is the IP address of UDP server.

config EXAMPLES_GPS_SERVER_PORTNO
	int "Server port number"
	default 5471

config EXAMPLES_GPS_CLIENT_PORTNO
	int "Client port number"
	default 5472

endif
