#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config ARDUSIMPLE_MPOLL
	bool "Message poll application"
	default n
	---help---
		Poll messages using named FIFO.

if ARDUSIMPLE_MPOLL

config ARDUSIMPLE_MPOLL_FIFO
	string "FIFO name"
	default "/var/fifo0"

config ARDUSIMPLE_MPOLL_PROGNAME
	string "Program name"
	default "as_mpoll"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config ARDUSIMPLE_MPOLL_PRIORITY
	int "Task priority"
	default 100

config ARDUSIMPLE_MPOLL_STACKSIZE
	int "Stack size"
	default DEFAULT_TASK_STACKSIZE

endif
